{
  "twitchAPILink": "https://api.twitch.tv/kraken/streams/",
  "clientToken": "token",
  "chaineID": ["crazyonezoe", "bacon_donut"],
  "slackHookUrl" : "https://hooks.slack.com/services/",
  "slackHookName" : "twitch-slack-alert"
}
